<div ng-controller="applicationsController as vm">
    <div class="row">
        <div class="col-xs-12 text-center">
            <span class="welcomeText">{{vm.title}}</span><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">Application Id</div>
            <div class="col-sm-3">Application Status</div>
            <div class="col-sm-3">Application Type</div>
            <div class="col-sm-3"></div>
        </div>
        <div ng-repeat="application in vm.applicationList">
            <div class="col-sm-12">
                <div class="col-sm-3">
                <a ui-sref="applicationHistory({applicationId: application.ApplicationId})"><b>{{application.ApplicationId}}</b></a>
                <!--<button ng-click="vm.getApplicationHistory(application.ApplicationId)"></button>-->
                </div>
                <div class="col-sm-3">{{application.ApplicationStatus}}</div>
                <div class="col-sm-3">{{application.ApplicationType}}</div>
                <div class="col-sm-3"><button class="btn btn-default" ng-click="vm.openChangeApplicationStatusModal(application)"><b>Change Application Status</b></button></div>
            </div>
        </div>
    </div>
</div>