<div ng-controller="createPasswordController as vm">
    <div class="row">
        <div class="col-xs-12 text-center">
            <span class="welcomeText">{{vm.title}}</span><br />
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-xs-12 col-sm-6 form-group">
                <label for="userId">User Id</label>
                <div class="input-group">
                    <input type="text"
                           name="userId"
                           ng-model="vm.user.name"
                           required />
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-xs-12 col-sm-6 form-group" ng-if="vm.title !='Forget Password'">
                <label for="userId">Password</label>
                <div class="input-group">
                    <input type="text"
                           name="userId"
                           ng-model="vm.user.accessKeyCode"
                           required />
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-xs-12 col-sm-6 form-group">
                <div class="input-group">
                    <button type="button" class="btn btn-default" ng-click="vm.performAction()">OK</button>
                    <button type="button" class="btn btn-default" ng-click="vm.closeDialog()">Cancel</button>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-xs-12 col-sm-6 form-group">
                <label for="userId">{{vm.response}}</label>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>