<div ng-controller="enquiryController as vm">
    <div class="col-sm-12 loaderoverlay" ng-if="vm.isbusy == true">
        <div class="loading-bar-spinner">
            <span class="responsiveSpinner">
                <i class="fa fa-spinner fa-spin"></i>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <span class="welcomeText">{{vm.title}}</span><br />
        </div>
    </div>
     <div class="row" ng-if="vm.loggedInUser.FeatureName=='Admin'">
         <form name="enquiryListForm">
             <div class="col-xs-12">
                 <div class="col-md-12">
                     <div class="col-md-6" style="padding-bottom:20px;">
                         <div class="form-group">
                             <input type="text"
                                    name="customerName"
                                    class="form-control"
                                    placeholder="Name"
                                    ng-model="vm.searchFilter.Name" />
                         </div>
                     </div>
                     <div class="col-md-6" style="padding-bottom:20px;" ng-required="true">
                         <div class="form-group">
                             <input name="mobileNumber"
                                    ng-pattern="/^[0-9]{10}$/"
                                    type="text"
                                    class="form-control"
                                    placeholder="Mobile Number"
                                    ng-model="vm.searchFilter.ContactNumber" />
                         </div>
                     </div>
                 </div>
                 <div class="col-md-12">
                     <div class="col-md-6" style="padding-bottom:20px;">
                         <p class="input-group">
                             <input placeholder="Choose From Date" name="fromDate" type="text" class="form-control" uib-datepicker-popup ng-model="vm.searchFilter.fromDate"
                                    is-open="vm.fromDateOpen" close-text="Close" />
                             <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="vm.toggleFromDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                             </span>
                         </p>
                     </div>
                     <div class="col-md-6" style="padding-bottom:20px;">
                         <p class="input-group">
                             <input placeholder="Choose To Date" name="toDate" type="text" class="form-control" uib-datepicker-popup ng-model="vm.searchFilter.todate"
                                    is-open="vm.toDateOpen" close-text="Close" />
                             <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="vm.toggleToDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                             </span>
                         </p>
                     </div>
                 </div>
                 <div class="col-sm-12">
                     <div class="col-sm-6"></div>
                     <div class="col-sm-6" style="text-align:right;">
                         <button class="btn btn-default" ng-click="vm.getEnquiryList()">Search Enquiry</button>
                     </div>
                 </div>
             </div>
         </form>
     </div>
    <br />
    <div class="col-md-12 table-responsive">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th class="col-sm-1">Enquiry Id</th>
                    <th class="col-sm-2">Name</th>
                    <th class="col-sm-3">Comments</th>
                    <th class="col-sm-2">Contact Number</th>
                    <th class="col-sm-1">Loan Amt</th>
                    <th class="col-sm-1">Enquiry Date</th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.enquiryList">
                    <td class="col-sm-1">{{item.EnquiryId}}</td>
                    <td class="col-sm-2">{{item.Name}}</td>
                    <td class="col-sm-3">{{item.Comments}}</td>
                    <td class="col-sm-2">{{item.ContactNumber}}</td>
                    <td class="col-sm-1">{{item.LoanAmt}}</td>
                    <td class="col-sm-1">{{item.CreationDate | date:'dd/MM/yyyy'}}</td>
                    <td class="col-sm-2">
                        <a ng-if="item.EnquiryId != null" ui-sref="knowYourCustomer({fname: item.Name, contactNumber: item.ContactNumber, enquiryId: item.EnquiryId})" class="btn btn-default"><b>KYC Form</b></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
