<div ng-controller="kycDetailController as vm">
    <div class="row">
        <div class="col-sm-12 text-center">
            <span class="welcomeText">KYC Details</span><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-group">
            <label for="userId">First Name</label>
            <div class="input-group">
                <input type="text"
                       name="userId"
                       ng-model="vm.customer.Name"
                       required />
            </div>
        </div>
        <div class="col-sm-4 form-group"vm.customer>
            <label for="userId">Middle Name</label>
            <div class="input-group">
                <input type="text"
                       name="userId"
                       ng-model="vm.customer.mName"
                       required />
            </div>
        </div>
        <div class="col-sm-4 form-group">
            <label for="userId">Last Name</label>
            <div class="input-group">
                <input type="text"
                       name="userId"
                       ng-model="vm.customer.lname"
                       required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-group"vm.customer>
            <label for="userId">Father Name</label>
            <div class="input-group">
                <input type="text"
                       name="userId"
                       ng-model="vm.customer.fName"
                       required />
            </div>
        </div>
        <div class="col-sm-4 form-group">
            <label for="userId">Sex</label>
            <div class="input-group">
                <select>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4 form-group"vm.customer>
            <label for="userId">Marital Status</label>
            <div class="input-group">
                <select>
                    <option>Married</option>
                    <option>Never Married</option>
                    <option>Divorce</option>
                </select>
            </div>
        </div>
    </div>
   <div class="row">
       <div class="col-sm-4 form-group">
           <label for="userId">Mother Name</label>
           <div class="input-group">
               <input type="text"
                      name="userId"
                      ng-model="vm.customer.lname"
                      required />
           </div>
       </div>
       <div class="col-sm-4 form-group"vm.customer>
           <label for="userId">Husband Name</label>
           <div class="input-group">
               <input type="text"
                      name="userId"
                      ng-model="vm.customer.fName"
                      required />
           </div>
       </div>
       <div class="col-sm-4 form-group">
           <label for="userId">House Contact</label>
           <div class="input-group">
               <input type="text"
                      name="userId"
                      ng-model="vm.customer.contactNumber"
                      required />
           </div>
       </div>
   </div>
    <div class="row">
        <div class="col-sm-4 form-group"vm.customer>
            <label for="userId">Home Address</label>
            <div class="input-group">
                <input type="text"
                       name="userId"
                       ng-model="vm.customer.HomeAddress"
                       required />
            </div>
        </div>
        <div class="col-sm-4 form-group">
            <label for="userId">Office Address</label>
            <div class="input-group">
                <input type="text"
                       name="userId"
                       ng-model="vm.customer.OfficeAddress"
                       required />
            </div>
        </div>
        <div class="col-sm-4 form-group"vm.customer>
            <label for="userId">Home Contact</label>
            <div class="input-group">
                <input type="text"
                       name="userId"
                       ng-model="vm.customer.HomeContact"
                       required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-group"vm.customer>
            <label for="userId">Office Contact</label>
            <div class="input-group">
                <input type="text"
                       name="userId"
                       ng-model="vm.customer.OfficeContact"
                       required />
            </div>
        </div>
        <div class="col-sm-4 form-group">
            <label for="userId">Application Type</label>
                <div class="input-group">
                    <select>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
        </div>
        <div class="col-sm-4 form-group"vm.customer>
            <label for="userId">Home Contact</label>
            <div class="input-group">
                <input type="text"
                       name="userId"
                       ng-model="vm.customer.HomeContact1"
                       required />
            </div>
        </div>
    </div>
    <div class="row pull-right">
        <div ><button type="button" class="btn btn-default" ng-click="vm.saveApplication()">Save Application</button></div>
    </div>
</div>