<div ng-controller="changeApplicationModalController as vm" novalidate>
    <form name="changeApplicationForm">
        <div class="imgcontainer">
            <span>Change Application Status</span>
        </div>
        <div class="containerModal">
            <label><b>Application Id</b></label>
            <input type="text" placeholder="Enter Application Id" name="applicationId" ng-model="vm.application.ApplicationId" readonly="readonly">
            <label><b>New Status</b></label>
            <ui-select ng-model="vm.application.ApplicationStatusId" theme="bootstrap"
                       ng-required="true" ng-class="{'alert alert-danger': changeApplicationForm.applicationStatusId.$error.required}">
                <ui-select-match placeholder="Select Application Status...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="applicationStatus in vm.applicationStatusList | filter: $select.search">
                    <div ng-bind-html="applicationStatus.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <label><b>Created By</b></label>
            <input ng-class="{'alert alert-danger': changeApplicationForm.createdBy.$error.required}" type="text" placeholder="Created By" name="createdBy" ng-model="vm.application.CreatedBy" ng-required="true">
            <label><b>Comments</b></label>
            <input ng-class="{'alert alert-danger': changeApplicationForm.comments.$error.required}" type="text" placeholder="Comments" name="comments" ng-model="vm.application.Comments" ng-required="true">
            <div class="text-right">
                <button ng-click="vm.changeApplicationStatus()" ng-disabled="changeApplicationForm.$invalid">OK</button>
                <button type="button" class="cancelbtn" ng-click="vm.closeModal()">Cancel</button>
            </div>
            <div>
                <span style="color:red;">{{vm.responseMessage}}</span>
            </div>
        </div>
    </form>
</div>
