<div class="container global-background-color" ng-controller="customerStoriesController as vm">
    <div class="row">
        <div class="col-md-12 text-center global-text-color">
            <h3>See What Our Customers Say</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <!--active must be on first item-->
                    <div class="item" ng-class="{'active': item.itemId==1}" ng-repeat="item in vm.carouselItems">
                        <div class="row corouselItemCenter">
                            <div class="col-md-6" ng-repeat="row in item.customers">
                                <div class="row" style="padding:15px;">
                                    <div class="col-md-12 customerImage">
                                    </div>
                                    <div class="col-md-12 customerSaying">
                                        <p>
                                            {{row.message}}
                                        </p>
                                        <br />
                                        <p>{{row.customerName}}</p>
                                        <br />
                                        <p>{{row.designation}}</p>
                                        <br />
                                        <p>{{row.add}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" data-target="#myCarousel" data-slide="prev" ng-non-bindable>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" data-target="#myCarousel" data-slide="next" ng-non-bindable>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>