<div ng-controller="loginModalController as vm">
    <div class="loaderoverlay container" ng-if="vm.isbusy == true">
        <!--This is where the spinner div should appear -->
        <div class="loading-bar-spinner">
            <!--This is the icon itself-->
            <span>
                Please Wait...
                <i class="fa fa-spinner fa-spin"></i>
            </span>
        </div>
    </div>
    <form id="loginForm">
        <div class="imgcontainer">
            <img srcset="common/images/user-avatar-mobile.png 320w,
             common/images/user-avatar-mobile.png 480w,
             common/images/user-avatar.png 800w"
                 sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px"
                 src="common/images/user-avatar.png" alt="Elva dressed as a fairy" alt="Avatar" class="avatar">
            <!--<img src="" data-src="common/images/user-avatar-mobile.png" data-src-big="common/images/user-avatar.png" alt="Avatar" class="avatar">-->
        </div>

        <div class="containerModal">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="userName" ng-model="vm.user.UserName" ng-required="true">

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pwd" ng-model="vm.user.AccessKeyCode" ng-required="true">

            <div class="text-right">
                <button ng-click="vm.validateUser()">Login</button>
                <button type="button" class="cancelbtn" ng-click="vm.closeModal()">Cancel</button>
            </div>
            <div>
                <span style="color:red;">{{vm.responseMessage}}</span>
            </div>
        </div>
        <div class="containerModal" style="background-color:#f1f1f1">
            <button type="button" class="psw" ng-click="vm.openModal('createPassword')">Create password</button>
            <button type="button" class="psw" ng-click="vm.openModal('forgotPassword')">Forgot password</button>
        </div>
    </form>
</div>